
body {

}
.navv{
  padding-bottom: 2%;
}
.navlink{
  margin-left: 10%;
}
.rightp {
  text-align: right;
}
.rightp p{
  padding-top: 2vh;
}
.legal{
  font-size: 60%;
}
.al{

  width: 70vw;
}
.dwn p{
  font-size: 1vw;
}
.nav-link {

    margin-left: 50px;
    }
.nav-social {
    margin-right: 20px;
}
.allcar{
  margin-top: 15vh;
}
.titlcom{

  margin-bottom: 9vh;
}
#app {
    background-color: none;
    background-repeat: no-repeat;
}

.navbar {
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.carousel .carousel-item img {

}

footer div{
  bottom: 0;
  right: 0;
  text-align: center;
  position: static;
  width: 100%;
  margin-bottom: 1.5vh;
  margin-right: 4vw;
  background-color: white;
  z-index: 200;
  margin-top: 10vh;

  padding-top: 6vh;
}
.carimg{
  width: 90%;
  height: 650px;
}
.titlcom{
  a
}
.dwn{
  bottom: 0;
  right: 0;
  text-align: right;
  width: 15vw;
  margin-bottom: 1.5vh;
  margin-right: 1.5vw;
  position: fixed;
  z-index: -10;
}
.tshirt{
  margin-right: 0;
}
.dwn p {
  margin: 0;
  padding-right: 0.7vw;
}
.arrow {
  width: 50%;
}
.dwnimg{
  width: 10vw;
  height: 7.5vh;
}
