body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: rgb(225, 0, 0);
    background: radial-gradient(circle, rgb(233, 153, 226) 0%, rgb(158, 104, 153) 100%); 
    flex-wrap: wrap;
    overflow-x: hidden;
  }
  
  .card3d {
    margin: 4px;
    transform: scale(1);
    perspective: 600px;
  }
  
  .card3d:hover {
    z-index: 10;
    transform: scale(1.3);
  }
  
  .card3d,
  .card3d img {
    transition: all 250ms ease-out;
  }
  